.form-group {
	margin-top: 1.4em;
	text-align: center;
}

#search {
	width: 50%;
	height: 3em;
	padding: 0.2em;
	border-radius: 15px;
	font-size: 1.2em;
}

.searchresult {
	border: 1px solid black;
	background: lightblue;
	padding: 10px;
}
